#modalSpinner {
		top: 50%;
		left: 50%;
		width: 100px;
		margin: -20px 0 0 -50px;
		background-color: rgba(30,30,30,1);
}
.form-signin, .form-login {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-login .form-login-heading,
{
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-login input[type="text"],
.form-login input[type="password"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

table {
		background-color: #F5F5F5;
}

.table-bordered {
  border: 1px solid #a1a7ad;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #cacaca;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #ffffff;
  cursor: pointer;
}

.mycloud-photo-preview {
		border: 1px solid #DDDDDD;
		border-radius: 12px;
		padding: 4px;
		height: 120px;
}

.btn-finder-action {
		margin-left:8px;
}

footer {
		text-align:center;
}

@media (max-width: 480px) {
		.media .pull-left {
				float: left;
				margin-bottom: 0px;
		}
}